<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet"> -->
    <meta name="viewport" content="width=device-width">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p> -->
        <h1><a href="https://lguariento.github.io/caravan/">Connected Communities & Digital Futures</a></h1>
        <p><i>Part of Unbox Labs: Caravan edition 2016</i></p>

        {% if site.show_downloads %}
          <ul>
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          </ul>
        {% endif %}
        <img src="images/cover.jpg">
        <div class="panel-group" id="accordion">
         <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="fa fa-info-circle"></i> Summary</a>
             </h4>
           </div>

           <div id="collapse1" class="panel-collapse collapse">
             <div class="panel-body"><p>
       This database includes over 200 printed sources of Scottish fiddle music from before 1850. It omits publications of songs and airs, and because of its bass-led focus, sources without basslines. Most of the sources are substantial printed collections, but the database also includes some of the hundreds of surviving single-sheet publications. Manuscript sources were excluded purely to keep the project to a manageable size at this stage.
       </p>
       <p>
       Finding the limits of the repertoire to be included was work-in-progress. We began by looking for sources of 'Scottish fiddle music', but the boundaries of this became ever more porous and difficult to define. In the past, Scottish fiddlers were familiar with a more diverse repertoire than our present-day conception of Scottish fiddle music might suggest. Also, the notion of Scottishness in music is difficult to pin down in a period when the notion of a national culture was only gradually taking shape.
       </p>
       <p>
       Theoretical models for describing and analysing this music are still in their very early stages, so a detailed (or definitive) analysis is both inappropriate and probably impossible. The short notes on the music in each source give
       <ul>
       <li>a summary of the kind of repertoire it contains</li>
       <li>some features of the basslines</li>
       <li>particular points of interest that the research team noted on a brief survey of the contents</li>
       </ul>
       </p>
       </div>
           </div>
         </div>
         <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="fa fa-users"></i>
               Research team</a>
             </h4>
           </div>
           <div id="collapse2" class="panel-collapse collapse">
             <div class="panel-body"><p>Principal Investigator, project management and editor: David McGuinness<br />
       Researcher (post-doctoral), music bibliography & cataloguing: Karen McAulay<br />
       Systems Developer, web implementation: Luca Guariento<br />
       Co-Investigators, oversight and advice: John Butt, Susan Rankin<br />
       PhD student, project development: Barnaby Brown<br />
       Research Administrator, School of Culture and Creative Arts, University of Glasgow: Jeanette Berrie</p>

       <p><strong>with</strong></p>
       Systems Developers, systems design: Zoltán Kömives, Neil McDermott<br />
       music encoding: Karen Marshalsay<br />
       MEI and search engine implementation: Andrew Hankinson<br />
       HMS.Scot logo design: Ewan McPherson<br />
       </div>
           </div>
         </div>
         <div class="panel panel-default">
           <div class="panel-heading">
             <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fa fa-thumbs-o-up"></i> Thanks to...</a>
             </h4>
           </div>
           <div id="collapse3" class="panel-collapse collapse">
             <div class="panel-body">
               University of Glasgow Digitisation Centre for photography<br />
               University of Glasgow Library Special Collections<br />
               Nicola Cowmeadow and the team at AK Bell Library, Perth & Kinross<br />
               the staff at all the libraries we visited in Scotland for being endlessly patient and helpful: <br />
               go and visit them, they will be pleased to see you!<br />
             </div>
           </div>
           </div>
           <div class="panel panel-default">
               <div class="panel-heading">
               <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#collapse4"><i class="fa fa-terminal"></i> Technologies used</a>
               </h4>
           </div>
           <div id="collapse4" class="panel-collapse collapse">
               <div class="panel-body">
                   <ul>
                   <li>Web framework: <a target="_blank" href="https://www.djangoproject.com/">Django</a></li>
                   <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a></li>
                   <li><a target="_blank" href="http://jquery.com/">jQuery</a></li>
                   <li>Search platform: <a target="_blank" href="https://lucene.apache.org/solr/">Apache Lucene Solr</a></li>
                   <li>Database: <a target="_blank" href="http://www.mysql.com/">MySQL</a></li>
                   <li>Image server: <a target="_blank" href="http://iipimage.sourceforge.net/">IIPImage</a></li>
                   <li>Image viewer: <a target="_blank" href="http://ddmal.github.io/diva.js/">diva.js</a></li>
                   <li>Incipits of the tunes have been transcribed with <a href="www.sibelius.com/" target="_blank">Sibelius</a> and exported to <a target="_blank" href="http://music-encoding.org/">.mei</a> files using the <a href="https://github.com/music-encoding/sibmei" target="_blank ">sibmei plugin</a></li>
                   </ul>
               </div>
           </div>
       </div>
           <div class="panel panel-default">
               <div class="panel-heading">
               <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#collapse5"><i class="fa fa-university"></i>
       Funding bodies and host institutions</a>
               </h4>
           </div>
           <div id="collapse5" class="panel-collapse collapse">
               <div class="panel-body">
               <ul>
               <li>Arts and Humanities Research Council</li>
               <li>University of Glasgow</li>
               <li>Royal Conservatoire of Scotland</li>
               <li>University of Cambridge</li>
               </ul>
               </div>
           </div>
       </div>
           <div class="panel panel-default">
               <div class="panel-heading">
               <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#collapse6"><i class="fa fa-refresh"></i>
        Updates</a>
               </h4>
           </div>
           <div id="collapse6" class="panel-collapse collapse">
               <div class="panel-body">
       <p>initial publication: October 2015</p>
       <p>minor corrections: February 2016</p>
               </div>
           </div>
       </div>
           <div class="panel panel-default">
               <div class="panel-heading">
               <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#collapse7"><i class="fa fa-copyright"></i>
        Copyright information</a>
               </h4>
           </div>
           <div id="collapse7" class="panel-collapse collapse">
               <div class="panel-body">
       <p>The material on HMS.scot is available for all non-commercial use. When reproducing or republishing, please credit HMS.scot and the library which holds the original, and provide a link to the HMS.scot page.</p>
               </div>
           </div>
       </div>
           <div class="panel panel-default">
               <div class="panel-heading">
               <h4 class="panel-title">
               <a data-toggle="collapse" data-parent="#accordion" href="#collapse8"><i class="fa fa-envelope"></i> Contacts</a>
               </h4>
           </div>
           <div id="collapse8" class="panel-collapse collapse">
               <div class="panel-body">
               <address>
               <i class="fa fa-map-pin"></i>
                   <strong>Historical Music of Scotland</strong><br>
                   Music, School of Culture and Creative Arts<br />
                   14 University Gardens<br />
                   Glasgow, Scotland,<br />
                   G12 8QH<br />
                   <br />
                   <i class="fa fa-phone fa-fw"></i>0141-330 3587<br />
                   <i class="fa fa-paper-plane fa-fw"></i>
       <a href="mailto:info@hms.scot">info@hms.scot</a>
               </address>
               </div>
           </div>
       </div>
<!--
        <div id="flip1">1. Caravans<br />Past, Present, Future
        </div>
        <div id="panel1">
            1. <a href="1_01.html">Why a Caravan (Babitha George)</a><br />
            2. <a href="1_02.html">We take the Golden Road to Aberystwyth (Andrew Prescott)</a><br />
            3. <a href="1_03.html">An Epic Meeting of Two Worlds (Ayaz Basrai)</a><br />
            4. <a href="1_04.html">Slow Convenings (Michelle Thorne)</a><br />
            5. <a href="1_05.html">Super Collaboration Highway (Jon Rogers)</a><br />
            6. <a href="1_06.html">Fragments of (Dis)Connection (Annette Mees)</a><br />
        </div>
        <div id="flip2">2. Rethinking Making<br />Myself, My practice, The city, Objects
        </div>
        <div id="panel2">

            1. <a href="2_01.html">34 go mad in Ahmedabad (Adrian Cockle)</a><br />
            2. <a href="2_02.html">Chewing the Cud (Archana Prasad)</a><br />
            3. <a href="2_03.html">Post LAB Reflection (Akshay Roongta)</a><br />
            4. <a href="2_04.html">Museums Without Walls (Pete Collard)</a><br />
            5. <a href="2_05.html">Camera Things (Sara Legg)</a><br />
            6. <a href="2_06.html">Immersions (Laura de Reynal)</a><br />
            7. <a href="2_07.html">Story of a Caravan Journey (Reuben Jacob)</a><br />

        </div>
        <div id="flip3">3. Making Something
        </div>
        <div id="panel3">
            <a href="3_01.html">A Word of Advice to Myself as A Student (Michael Henretty)</a><br />
            <a href="3_02.html">Journal Entry (Sean Kingsley)</a><br />
            <a href="3_03.html">Dumb Inside (Michelle Thorne Michael Henretty Shashank Sriram)</a>
            <a href="3_04.html">Conductive Contract (Michelle Thorne Shashank Sriram)</a><br />
            <a href="3_05.html">Diyas Thinking Through Making (Jayne Wallace)</a><br />
            <a href="3_06.html">Unbox Redux (Gary Stewart)</a><br />
            <a href="3_07.html">Finding Chemistry: Clay, Metal, Leather (Sean Kingsley & Jayne Wallace)</a><br />
            <a href="3_08.html">Excepts from a Diary of a Journey, 3PM Daily (Irini Papadimitriou Kingsley)</a><br />

        </div>
        <div id="flip4">4. Digital Futures / Future Digital
        </div>
        <div id="panel4">
            <a href="4_01.html">Digital India (Jon Rogers)]</a><br />
            <a href="4_02.html">Learning from Openness (David Ascher)]</a><br />
            <a href="4_03.html">The Jugaad of Code (Bobby Richter)]</a><br />
            <a href="4_04.html">An Ethical Guide to the Internet of Things (Michelle Thorne, Bobby Richter, Michael Henretty, David Ascher, Vladan Joler)</a><br />
            <a href="4_05.html">The Order of the Dark Temple (Vladan Joler)</a><br />

        </div>
        <div id="flip5">5. The Ending
        </div>
        <div id="panel5">
            <a href="5_01.html">A Quest in Fog Juggling (Jon Rogers)</a><br />
            <a href="5_02.html">What is a Chai Gate? (A few people)]</a><br />
        </ol>
        </div> -->

        <a type="type=application/pdf" href="{{ site.baseurl }}/media/unbox_caravan.pdf" download>
          Download .pdf file
        </a>

                {% if site.github.is_project_page %}
                  <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
                {% endif %}

                {% if site.github.is_user_page %}
                  <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
                {% endif %}

      </header>
      <section>

      {{ content }}

      </section>
      <!-- <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer> -->
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
